In [191]:
import pandas as pd

In [192]:
df = pd.read_csv("../data/superstore.csv", encoding="latin-1")

In [193]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [194]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [195]:
df.shape

(9994, 21)

In [196]:
df.isnull().sum()[df.isnull().sum() > 0]

Series([], dtype: int64)

In [197]:
df['Order Date'] = pd.to_datetime(df['Order Date'])

In [198]:
df['Order Date'].head() # converted 'Order Date' column in datetime

0   2016-11-08
1   2016-11-08
2   2016-06-12
3   2015-10-11
4   2015-10-11
Name: Order Date, dtype: datetime64[ns]

In [199]:
df[df['Sales'] > 0].head() # accessed only values that are greater than 0

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [200]:
monthly_sales = (df.groupby(pd.Grouper(key='Order Date', freq='ME'))['Sales'].sum().reset_index())
# It calculates total sales for each month using the Order Date.
# freq='ME' → Month End frequency (groups all dates into months)
# pd.Grouper(key='Order Date', freq='ME') # Tells pandas to group data by month

In [201]:
monthly_sales.rename(columns={'Order Date': 'ds','Sales': 'y'}, inplace=True)

In [202]:
monthly_sales.head()

          ds          y
0 2014-01-31  14236.895
1 2014-02-28   4519.892
2 2014-03-31  55691.009
3 2014-04-30  28295.345
4 2014-05-31  23648.287

In [203]:
Q1 = monthly_sales['y'].quantile(0.25)
Q3 = monthly_sales['y'].quantile(0.75)

IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

In [204]:
monthly_sales['y'] = monthly_sales['y'].clip(lower=lower_bound, upper=upper_bound)

In [205]:
import numpy as np

In [206]:
monthly_sales['y_log'] = np.log1p(monthly_sales['y'])

In [207]:
monthly_sales.head()

          ds          y      y_log
0 2014-01-31  14236.895   9.563662
1 2014-02-28   4519.892   8.416465
2 2014-03-31  55691.009  10.927592
3 2014-04-30  28295.345  10.250488
4 2014-05-31  23648.287  10.071088

In [208]:
prophet_df = monthly_sales[['ds', 'y_log']].rename(columns={'y_log': 'y'})

In [209]:
prophet_df.head() # final table for fitting model

          ds          y
0 2014-01-31   9.563662
1 2014-02-28   8.416465
2 2014-03-31  10.927592
3 2014-04-30  10.250488
4 2014-05-31  10.071088

In [210]:
# Now train the forecasting model (Prophet)
from prophet import Prophet

model = Prophet(yearly_seasonality=True, weekly_seasonality=False, daily_seasonality=False, changepoint_prior_scale=0.1)
model.add_seasonality(name='quarterly', period=91.25, fourier_order=8)
model.fit(prophet_df)

12:48:00 - cmdstanpy - INFO - Chain [1] start processing
12:48:01 - cmdstanpy - INFO - Chain [1] done processing

In [211]:
future_predictions = model.make_future_dataframe(periods=6, freq='ME')
Predicted_Sales = model.predict(future_predictions)

In [212]:
Predicted_Sales.head()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,quarterly,quarterly_lower,quarterly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2014-01-31,-0.213616,9.438446,9.682003,-0.213616,-0.213616,9.769008,9.769008,9.769008,28.662533,28.662533,28.662533,-18.893526,-18.893526,-18.893526,0.0,0.0,0.0,9.555391
1,2014-02-28,-0.190352,8.453990,8.696008,-0.190352,-0.190352,8.765477,8.765477,8.765477,120.321378,120.321378,120.321378,-111.555901,-111.555901,-111.555901,0.0,0.0,0.0,8.575125
2,2014-03-31,-0.164596,10.626208,10.874911,-0.164596,-0.164596,10.919618,10.919618,10.919618,-118.650487,-118.650487,-118.650487,129.570105,129.570105,129.570105,0.0,0.0,0.0,10.755022
3,2014-04-30,-0.139670,10.184483,10.406378,-0.139670,-0.139670,10.432740,10.432740,10.432740,27.853955,27.853955,27.853955,-17.421215,-17.421215,-17.421215,0.0,0.0,0.0,10.293070
4,2014-05-31,-0.113913,10.064949,10.316240,-0.113913,-0.113913,10.304104,10.304104,10.304104,122.078529,122.078529,122.078529,-111.774425,-111.774425,-111.774425,0.0,0.0,0.0,10.190191

In [213]:
forecast_output = Predicted_Sales[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].merge(monthly_sales, on='ds', how='left')
# It combines Prophet’s predicted values with the actual monthly sales into one table.

In [214]:
forecast_output.rename(columns={'ds': 'Date', 'y': 'Actual_sales', 'yhat': 'Forecast_Sales', 
                                'yhat_lower': 'Lower_Bound', 'yhat_upper': 'Upper_Bound'}, inplace=True)

In [215]:
forecast_output['Forecast_Sales'] = np.expm1(forecast_output['Forecast_Sales'])
forecast_output['Lower_Bound'] = np.expm1(forecast_output['Lower_Bound'])
forecast_output['Upper_Bound'] = np.expm1(forecast_output['Upper_Bound'])

In [269]:
forecast_output.drop(columns=['y_log'], inplace=True)

In [277]:
forecast_output.head()

,Date,Forecast_Sales,Lower_Bound,Upper_Bound,Actual_sales,Error,APE_%
0,2014-01-31,14119.618004,12561.177780,16025.565096,14236.895,117.276996,0.823754
1,2014-02-28,5297.214395,4692.763666,5977.995177,4519.892,-777.322395,-17.197809
2,2014-03-31,46863.788684,41199.595000,52833.060538,55691.009,8827.220316,15.850351
3,2014-04-30,29526.276540,26487.952208,33068.885395,28295.345,-1230.931540,-4.350297
4,2014-05-31,26639.588207,23503.540788,30218.420595,23648.287,-2991.301207,-12.649124

In [279]:
forecast_output['Error'] = (
    forecast_output['Actual_sales'] - forecast_output['Forecast_Sales']
)

In [281]:
forecast_output['APE_%'] = (
    forecast_output['Error'] / forecast_output['Actual_sales']
) * 100

In [283]:
# Now Check the Error in model
Predicted = forecast_output.Forecast_Sales
Actual = forecast_output.Actual_sales

In [285]:
Actual.isna().sum()

6

In [324]:
valid_data = forecast_output.dropna()

In [326]:
Actual = valid_data['Actual_sales']
Predicted = valid_data['Forecast_Sales']

In [328]:
forecast_output.head()

,Date,Forecast_Sales,Lower_Bound,Upper_Bound,Actual_sales,Error,APE_%
0,2014-01-31,14119.618004,12561.177780,16025.565096,14236.895,117.276996,0.823754
1,2014-02-28,5297.214395,4692.763666,5977.995177,4519.892,-777.322395,-17.197809
2,2014-03-31,46863.788684,41199.595000,52833.060538,55691.009,8827.220316,15.850351
3,2014-04-30,29526.276540,26487.952208,33068.885395,28295.345,-1230.931540,-4.350297
4,2014-05-31,26639.588207,23503.540788,30218.420595,23648.287,-2991.301207,-12.649124

In [330]:
forecast_output.isnull().sum()

Date              0
Forecast_Sales    0
Lower_Bound       0
Upper_Bound       0
Actual_sales      6
Error             6
APE_%             6
dtype: int64

In [334]:
evaluation_df = forecast_output[forecast_output['Actual_sales'].notna()].copy()

In [338]:
evaluation_df.isna().sum()

Date              0
Forecast_Sales    0
Lower_Bound       0
Upper_Bound       0
Actual_sales      0
Error             0
APE_%             0
dtype: int64

In [340]:
evaluation_df['Error'] = (evaluation_df['Actual_sales']- evaluation_df['Forecast_Sales'])
evaluation_df['Absolute_Error'] = (evaluation_df['Error'].abs())
evaluation_df['APE_%'] = (evaluation_df['Absolute_Error'] / evaluation_df['Actual_sales']) * 100

In [342]:
mae = evaluation_df['Absolute_Error'].mean()
rmse = np.sqrt((evaluation_df['Error'] ** 2).mean())
mape = evaluation_df['APE_%'].mean()

In [344]:
print(f"MAE  : {mae:,.2f}")
print(f"RMSE : {rmse:,.2f}")
print(f"MAPE : {mape:.2f}%")

MAE  : 3,651.38
RMSE : 5,159.26
MAPE : 7.73%

In [309]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error, mean_absolute_percentage_error

In [295]:
r2score = r2_score(Actual, Predicted)
r2score

0.9571787935148196

In [297]:
import math
mean_squared_error(Actual, Predicted)

26617971.230665922

In [299]:
mape = mean_absolute_percentage_error(Actual, Predicted)
mape * 100

7.72809211101834

In [301]:
math.sqrt(mean_squared_error(Actual, Predicted))

5159.2607252072385

In [346]:
final_columns = [
    'Date',
    'Actual_sales',
    'Forecast_Sales',
    'Lower_Bound',
    'Upper_Bound',
    'Error',
    'Absolute_Error',
    'APE_%'
]

evaluation_df = evaluation_df[final_columns]

In [350]:
evaluation_df.head()

,Date,Actual_sales,Forecast_Sales,Lower_Bound,Upper_Bound,Error,Absolute_Error,APE_%
0,2014-01-31,14236.895,14119.618004,12561.177780,16025.565096,117.276996,117.276996,0.823754
1,2014-02-28,4519.892,5297.214395,4692.763666,5977.995177,-777.322395,777.322395,17.197809
2,2014-03-31,55691.009,46863.788684,41199.595000,52833.060538,8827.220316,8827.220316,15.850351
3,2014-04-30,28295.345,29526.276540,26487.952208,33068.885395,-1230.931540,1230.931540,4.350297
4,2014-05-31,23648.287,26639.588207,23503.540788,30218.420595,-2991.301207,2991.301207,12.649124

In [352]:
evaluation_df.to_csv(
    "../output/sales_forecast_powerbi.csv",
    index=False
)
# For PowerBI CSV is ready