In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/superstore.csv", encoding="latin-1")

In [15]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [17]:
df.shape

(9994, 21)

In [13]:
df.isnull().sum()[df.isnull().sum() > 0]

Series([], dtype: int64)

In [19]:
df['Order Date'] = pd.to_datetime(df['Order Date'])

In [29]:
df['Order Date'].head() # converted 'Order Date' column in datetime

0   2016-11-08
1   2016-11-08
2   2016-06-12
3   2015-10-11
4   2015-10-11
Name: Order Date, dtype: datetime64[ns]

In [35]:
df[df['Sales'] > 0].head() # accessed only values that are greater than 0

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [61]:
monthly_sales = (df.groupby(pd.Grouper(key='Order Date', freq='ME'))['Sales'].sum().reset_index())
# It calculates total sales for each month using the Order Date.
# freq='ME' → Month End frequency (groups all dates into months)
# pd.Grouper(key='Order Date', freq='ME') # Tells pandas to group data by month

In [79]:
monthly_sales.rename(columns={'Order Date': 'ds','Sales': 'y'}, inplace=True)

In [81]:
monthly_sales.head()

          ds          y
0 2014-01-31  14236.895
1 2014-02-28   4519.892
2 2014-03-31  55691.009
3 2014-04-30  28295.345
4 2014-05-31  23648.287

In [83]:
# Now train the forecasting model (Prophet)
from prophet import Prophet

model = Prophet(yearly_seasonality=True)
model.fit(monthly_sales)

12:50:20 - cmdstanpy - INFO - Chain [1] start processing
12:50:21 - cmdstanpy - INFO - Chain [1] done processing

In [87]:
future_predictions = model.make_future_dataframe(periods=6, freq='ME')
Predicted_Sales = model.predict(future_predictions)

In [91]:
Predicted_Sales.head()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2014-01-31,32303.414197,5288.114180,23899.151564,32303.414197,32303.414197,-17512.850559,-17512.850559,-17512.850559,-17512.850559,-17512.850559,-17512.850559,0.0,0.0,0.0,14790.563637
1,2014-02-28,32773.318410,-3223.131423,14859.447175,32773.318410,32773.318410,-26994.780105,-26994.780105,-26994.780105,-26994.780105,-26994.780105,-26994.780105,0.0,0.0,0.0,5778.538305
2,2014-03-31,33293.569506,31519.494906,51009.768147,33293.569506,33293.569506,8581.773635,8581.773635,8581.773635,8581.773635,8581.773635,8581.773635,0.0,0.0,0.0,41875.343141
3,2014-04-30,33797.038308,16532.714752,34948.288588,33797.038308,33797.038308,-8134.313764,-8134.313764,-8134.313764,-8134.313764,-8134.313764,-8134.313764,0.0,0.0,0.0,25662.724545
4,2014-05-31,34317.289405,15782.148620,34891.090483,34317.289405,34317.289405,-8605.359949,-8605.359949,-8605.359949,-8605.359949,-8605.359949,-8605.359949,0.0,0.0,0.0,25711.929456

In [99]:
forecast_output = Predicted_Sales[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].merge(monthly_sales, on='ds', how='left')
# It combines Prophet’s predicted values with the actual monthly sales into one table.

In [101]:
forecast_output.rename(columns={'ds': 'Date', 'y': 'Actual_Sales', 'yhat': 'Forecast_Sales', 
                                'yhat_lower': 'Lower_Bound', 'yhat_upper': 'Upper_Bound'}, inplace=True)

In [103]:
forecast_output.head()

        Date  Forecast_Sales   Lower_Bound   Upper_Bound  Actual_Sales
0 2014-01-31    14790.563637   5288.114180  23899.151564     14236.895
1 2014-02-28     5778.538305  -3223.131423  14859.447175      4519.892
2 2014-03-31    41875.343141  31519.494906  51009.768147     55691.009
3 2014-04-30    25662.724545  16532.714752  34948.288588     28295.345
4 2014-05-31    25711.929456  15782.148620  34891.090483     23648.287

In [110]:
forecast_output.to_csv(
    "../output/sales_forecast_powerbi.csv",
    index=False
)
# For PowerBI CSV is ready